<aside class="w-64 bg-[#101012] text-white flex flex-col h-screen border-r border-gray-600 fixed">
  <div class="p-6 border-b border-gray-700">
    <h2 class="text-2xl font-bold flex items-center gap-2">
      <span class="text-cyan-400">3D</span>Manager
    </h2>
  </div>

  <nav class="flex flex-col px-2 py-6 space-y-2">
    <a
      routerLink="/calculator"
      routerLinkActive="bg-gray-800 text-white border-r-4 border-cyan-400 font-semibold"
      class="block px-6 py-4 text-gray-400 hover:bg-gray-700 hover:text-white transition-colors"
      >Calculadora</a
    >
    <a
      routerLink="/materials"
      routerLinkActive="bg-gray-800 text-white border-r-4 border-cyan-400 font-semibold"
      class="block px-6 py-4 text-gray-400 hover:bg-gray-700 hover:text-white transition-colors"
      >Materiales</a
    >
    <a
      routerLink="/settings"
      routerLinkActive="bg-gray-800 text-white border-r-4 border-cyan-400 font-semibold"
      class="block px-6 py-4 text-gray-400 hover:bg-gray-700 hover:text-white transition-colors"
      >Configuración</a
    >
  </nav>
</aside>
